.wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.completeButton {
    margin-left: 25px;
    opacity: 0;
}

.completeButton:disabled {
    cursor: default;
}

.completeButtonVisible {
    opacity: 1;
}

.competeButtonWrapper {
    position: absolute;
}

.symbolInput {
    /* background-color: #787c7f; */
}

.symbolInputCorrect {
    background-color: #6baa64;
}

.symbolInputIncorrect {
    background-color: #c9b458;
}

.symbolInputNotExist {
    background-color: #787c7f;
}