.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color:#121212;
}

.button {
  border: 1px solid white;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: lightgray;
}